.accordion-examples {
	display: flex;
	justify-content: space-between;
}

.accordion {
	width: 500px;
}

.accordion__control,
.accordion__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: var(--gutter);
	border: 1px solid #888;
}

.accordion__control::-webkit-details-marker {
	display: none;
}

.accordion__title {
	margin: 0;
}

.accordion__icon {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: var(--color-accent);
}

.accordion__icon::before,
.accordion__icon::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
}

.accordion__icon::before {
	width: 50%;
	height: 1px;
}

.accordion__icon::after {
	width: 1px;
	height: 50%;
}

.accordion__content {
	border-top: none;
}

.accordion[open] .accordion__icon {
	transform: rotate(45deg);
}

.accordion__list {
	width: 500px;
}

.accordion__item:not(:last-child) {
	margin-bottom: 10px;
}

button.accordion__control {
	width: 100%;
	background-color: transparent;
	cursor: pointer;
}

span.accordion__title {
	font-size: 1.17em;
	font-weight: 700;
}

.accordion__item .accordion__content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0 var(--gutter);
	will-change: max-height;
	transition: all 0.3s ease-out;
}

.accordion__item.open .accordion__content {
	opacity: 1;
	padding: var(--gutter);
}

.accordion__item .accordion__icon {
	transition: transform 0.3s ease-out;
}

.accordion__item.open .accordion__icon {
	transform: rotate(45deg);
}
