.burger {
	position: relative;
	width: 30px;
	height: 20px;
	display: none;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.burger__line {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #333;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #333;
	left: 0;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
		bottom 0.3s ease-in-out;
}

.burger::before {
	top: 0;
	bottom: auto;
}

.burger::after {
	top: 100%;
	bottom: 0;
}

.burger--active .burger__line {
	opacity: 0;
}

.burger--active::before {
	top: 50%;
	bottom: auto;
	transform: rotate(45deg);
}

.burger--active::after {
	top: 50%;
	bottom: auto;
	transform: rotate(-45deg);
}
