.cart {
	position: relative;
	padding: 10px;
	transition: background-color 0.3s ease-in-out;
}

.cart.active:hover {
	cursor: pointer;
	background-color: rgba(93, 113, 221, 0.1);
}

.cart__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-dark);
}

.cart__quantity {
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	margin-top: -8px;
	background-color: #de707b;
	border-radius: 100%;
	padding: 3px;
	min-width: 16px;
	min-height: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 1;
}

.cart-content {
	cursor: default;
	position: absolute;
	right: 0;
	top: 100%;
	width: 490px;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}

.cart.active:hover .cart-content {
	opacity: 1;
	visibility: visible;
}

.content {
	padding-top: 90px;
}

.cart-content__list {
	/* overflow: hidden; */
	max-height: 330px;
}

.cart-product {
	display: flex;
	align-items: center;
	padding: 12px var(--gutter);
	transition: background-color 0.3s;
}

.cart-product:hover {
	background: rgba(93, 113, 221, 0.1);
}

.cart-product__img {
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
	margin-right: var(--gutter);
}

.cart-product__title {
	max-width: 280px;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
}

.cart-product__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
}

.cart-product__delete {
	margin-left: auto;
	width: 20px;
	height: 20px;
	border: none;
	background-color: transparent;
	padding: 0;
	background-image: url('../img/trash.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cart-content__bottom {
	padding: 22px var(--gutter);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-content__fullprice {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
}

.fullprice {
	margin-top: 8px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
}

.cart-content__btn {
	width: 246px;
	text-align: center;
}

.simplebar-track.simplebar-vertical {
	width: 4px;
	background-color: rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	margin-top: var(--gutter);
	height: calc(100% - 40px);
	right: 5px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	background: rgba(77, 77, 77, 0.2);
	border-radius: 5px;
	width: 100%;
	opacity: 1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
