/* .menu {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
} */

.menu__item {
	position: relative;
}

.menu__btn {
	display: inline-block;
	padding: 10px;
	transition: background-color 0.3s ease-in-out, 0.3s ease-in-out;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.menu__btn--active {
	background-color: var(--color-accent);
	color: #fff;
}

.menu__btn:not(.menu__btn--active):hover {
	color: var(--color-accent);
}

.dropdown {
	position: absolute;
	background-color: #fff;
	left: 0;
	top: 100%;
	width: 100%;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown--active {
	opacity: 1;
	visibility: visible;
}

.dropdown__list {
	border-radius: 4px;
}

.dropdown__item {
	transition: background-color 0.3s ease-in-out, 0.3s ease-in-out;
}

.dropdown__link {
	display: block;
	width: 100%;
	padding: 10px;
	color: #333;
}

.dropdown__link:hover {
	background-color: #5d70dd80;
	color: #fff;
}
