*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSans-Regular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSans-SemiBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoLight.woff2') format('woff2');
	font-display: swap;
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoMedium.woff2') format('woff2');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

:root {
	--color-dark: #4d4d4d;
	--color-light: #808080;
	--color-accent: #5d71dd;
	--gutter: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-color: #fafafa;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	overflow-anchor: none;
}

ul {
	list-style-type: none;
}

section {
	margin-bottom: 100px;
}

.container {
	max-width: 1244px;
	/* width: 1244px; */
	padding: 0 var(--gutter);
	margin: 0 auto;
}

.btn {
	border: none;
	padding: 14px 0;
	border-radius: 4px;
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background-color: var(--color-accent);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.btn:hover {
	background-color: #798fff;
}
