.header {
	position: relative;
	z-index: 100;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

.header__logo {
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-accent);
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
}

.nav__list {
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-dark);
}
