@media (max-width: 1244px) {
	body {
		overflow-x: hidden;
	}
	.burger {
		display: block;
	}

	.header {
		position: fixed;
	}

	.header .container {
		height: 60px;
	}

	.nav {
		position: absolute;
		z-index: 1000;
		top: 100%;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: #fff;
		transform: translateX(100%);
		transition: transform 0.6s ease-in-out;
		gap: 10px;
	}

	.nav--visible {
		transform: none;
	}

	.nav__list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.nav__item {
		width: 100%;
	}

	.nav__link {
		width: 100%;
		border-radius: 0;
	}

	.cart {
		width: 100%;
	}

	.cart__quantity {
		left: 42px;
		right: auto;
	}

	.products-grid {
		grid-template-columns: 1fr;
	}

	.dropdown {
		top: 0;
		left: -100%;
	}

	.tabs {
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.tabs__list {
		align-items: flex-start;
		flex-direction: column;
		gap: 0;
	}

	.tabs__btn {
		border-top-left-radius: 0;
	}

	.tabs-content {
		width: 100%;
		padding: 5% 7% 10%;
	}

	.tabs-content__list {
		flex-direction: column;
		gap: var(--gutter);
	}

	.tabs-content__item {
		width: 100%;
	}

	.tabs-content__link {
		width: 100%;
	}

	.tabs-content__text {
		font-size: 32px;
		line-height: 1;
		font-weight: 100;
	}

	.tabs__arrow {
		display: none;
	}

	/* .tabs__arrow--prev {
		left: -120px;
	}
	.tabs__arrow--next {
		right: -120px;
	} */

	.accordion-examples {
		gap: var(--gutter);
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card {
		width: 100%;
		display: flex;
		justify-content: space-between;
		/* flex-direction: column; */
		gap: 20px;
	}

	.card-slider {
		width: 50%;
		height: 490px;
		margin-right: 0;
		display: flex;
		justify-content: space-between;
	}

	.card-info {
		width: 50%;
		margin-right: 0;
	}

	.slider-nav {
	}

	.slider-block {
		width: 100%;
	}
}
