.order {
	padding: 0 40px;
}

.order__label {
	margin-bottom: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-light);
}

.order__input {
	padding-left: 14px;
	padding-right: 14px;
	width: 240px;
	height: 45px;
	background: #efefef;
	border-radius: 4px;
	border: none;
}

.order__input::placeholder {
	color: #b1b1b1;
}

.order__btn {
	margin-top: 6px;
	width: 100%;
}

.order-product {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.order-product__img {
	max-width: 60px;
	max-height: 60px;
	object-fit: cover;
	margin-right: 10px;
}

.order-product__text {
	margin-right: 10px;
}

.order-product__title {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: var(--color-dark);
}

.order-product__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--color-dark);
}

.order-product__delete {
	margin-bottom: 4px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: var(--color-light);
}
