.outside {
	display: flex;
	gap: 2%;
	padding-left: max(
		var(--gutter),
		calc((100% - (1244px - var(--gutter) * 2)) / 2)
	);
}

.outside__element {
	min-height: 100px;
	background-color: #c4c4c4;
	width: 20%;
	flex-shrink: 0;
}

.outside__element--hidden {
	width: calc(100% - 80% - 2%);
	flex-shrink: unset;
}
