.grid-container {
	width: 100%;
	display: grid;
	grid-gap: var(--gutter);
	grid-template-columns: repeat(4, 1fr);
}

.products-grid {
	grid-column: 3 span;
	display: grid;
	grid-gap: var(--gutter);
	grid-template-columns: repeat(3, 1fr);
}

.filters {
	position: relative;
}

.filters-price__input {
	width: 100%;
}

.fixed {
	position: fixed;
	top: 80px;
	left: 0;
}

.absolute {
	position: absolute;
	bottom: 0;
	left: 0;
}

.btn-center {
	grid-column: 2 / 4 span;
	text-align: center;
}

.btn-center__show-more {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	color: var(--color-accent);
	cursor: pointer;
}

.products-grid__item {
	display: none;
}

.products-grid__item--visible {
	display: block;
}
