.card {
	display: flex;
	gap: 60px;
}

.card-slider {
	width: 592px;
	height: 490px;
	display: flex;
	gap: var(--gutter);
}

.card-info {
	width: calc(100% - 592px - 60px);
	margin-right: 130px;
}

.slider-nav {
	width: 82px;
}

.slider-nav__item {
	height: 82px;
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	cursor: pointer;
}

.slider-nav__item:not(:last-child) {
	margin-bottom: var(--gutter);
}

.slider-nav__item img {
	max-width: 80%;
	max-height: 80%;
}

.slider-block {
	overflow: hidden;
	width: calc(100% - 82px - var(--gutter));
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
}

.swiper-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-slide img {
	max-width: 80%;
	max-height: 80%;
}

.vendor,
.available {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #808080;
	margin-bottom: 40px;
}

.title {
	margin: 0;
	margin-bottom: var(--gutter);
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #4d4d4d;
}

.testimonials {
	display: flex;
	align-items: center;
	margin-bottom: var(--gutter);
}

.testimonials__link,
.show-more {
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #5d71dd;
	text-decoration-line: underline;
}

.rating {
	display: flex;
	align-items: center;
	margin-right: var(--gutter);
	gap: 4px;
}

.price {
	display: flex;
	align-items: flex-end;
	gap: 40px;
	margin-bottom: 40px;
}

.price__current {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #4d4d4d;
}

.price__old {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-decoration-line: line-through;
	color: #808080;
	transform: translateY(-5px);
}

.buy {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #5d71dd;
	width: 100%;
	height: 45px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.show-more {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	width: 100%;
	text-align: center;
}
