.stepper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	width: 150px;
	height: 50px;
	user-select: none;
}

.stepper__field {
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	width: 100%;
	height: 100%;
	padding-left: var(--gutter);
	background-color: #fff;
}

.stepper__input {
	border: none;
	width: 10px;
	height: 100%;
	outline: none;
	font-weight: 700;
	min-width: 2ex;
}

.stepper__text {
	font-weight: 700;
}

.stepper__btns {
	position: absolute;
	right: 2px;
	top: 50%;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #e5e5e5;
	width: 20%;
	height: calc(100% - 2px);
	transform: translateY(-50%);
}

.stepper__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	height: 50%;
	background-color: transparent;
	cursor: pointer;
}

.stepper__btn--disabled {
	opacity: 0.5;
	pointer-events: none;
}
