.tabs {
	position: relative;
	width: 796px;
	margin: 0 auto 100px;
}

.tabs__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px;
}

.tabs__btn {
	padding: 15px 62px;
	border: none;
	background-color: var(--color-accent);
	color: white;
	cursor: pointer;
	border-top-left-radius: 4px;
	border-top-right-radius: 20px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.06em;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.tabs__btn:hover {
	background-color: white;
	color: var(--color-accent);
}
.tabs__btn--active {
	background-color: white;
	color: var(--color-accent);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	pointer-events: none;
}

.tabs__content {
	background-color: white;
	display: none;
}

.tabs__content--active {
	display: block;
}

.tabs-content {
	padding: 40px 60px 126px;
	width: 796px;
}

.tabs-content__title {
	margin: 0;
	margin-bottom: var(--gutter);
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: var(--color-dark);
}

.tabs-content__desc {
	margin: 0;
	margin-bottom: 59px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
}

.tabs-content__list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tabs-content__link {
	padding: 14px;
	width: 200px;
	height: 120px;
	display: inline-block;
	background-color: #ebecf3;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.tabs-content__text {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #a2a6c0;
}

.tabs__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	padding: 0;
	border: none;
	background-color: var(--color-accent);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
}
.tabs__arrow svg {
	fill: white;
	transition: fill 0.3s ease-in-out;
}
.tabs__arrow:hover {
	background-color: white;
}
.tabs__arrow:hover svg {
	fill: var(--color-accent);
}
.tabs__arrow--prev {
	left: -204px;
}
.tabs__arrow--next {
	right: -204px;
}
